<h1>
  {{title}}
</h1>

<div class="ais-search-box">
  <input autocapitalize="off" autocomplete="off" autocorrect="off" placeholder="Search for products" role="textbox" spellcheck="false" type="text" value="" class="ais-search-box--input">
  <span>
    <div class="ais-search-box--powered-by">
      Search by
      <a class="ais-search-box--powered-by-link" href="https://www.algolia.com/?utm_source=instantsearch.js&amp;utm_medium=website&amp;utm_content=community.algolia.com&amp;utm_campaign=poweredby" target="_blank">
        Algolia
      </a>
    </div>
  </span>
</div>
